.preview a.label.ss {
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 2px 7px;
  white-space: nowrap;
}

.preview a.label.ss.blue {
  background: #203e64;
}

.preview a.label.ss.blue:hover {
  background: #11213e;
}

.preview a.label.ss.red {
  background-color: hsl(349, 69%, 46%);
}

.preview a.label.ss.gray {
  background-color: #b7b7b7;
}
