.preview a.label.ss {
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 2px 7px;
  white-space: nowrap;
}

.preview a.label.ss.workflow-state {
  background: #203e64;
}

.preview a.label.ss.workflow-state:hover {
  background: #11213e;
}

.preview a.label.ss.important {
  background-color: hsl(349, 69%, 46%);
}

.preview a.label.ss.missing-tags {
  background-color: #f39300;
}

.preview .time-overrun {
  background: #a71f39;
  color: white;
  font-size: 8px;
  padding: 0 5px;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  line-height: 11px;
  left: 22px;
  font-weight: bold;
}
